

/* global */
.container{  /* .wrap */
    width:1200px;
    margin:0 auto;
    transition:all .2s linear;
    -moz-transition:all .2s linear;/* firefox */
    -webkit-transition:all .2s linear; /* safari and chrome */
    -o-transition:all .2s linear; /* opera */
    -ms-transition:all .2s linear;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* typography */
h2{
    font-size: 25px;
    color: #4B4B4B;
    font-family: 'Coda', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding:5px 0;
}
h3{ /* footer text */
    font-size:18px;
    color:#ACACAC;
    margin:5px 0px 15px 0;
    border-bottom: 1px dashed #131313;
    padding-bottom:3px;
    font-family: 'Coda', Helvetica, Arial, sans-serif;
}

/* individual */
header {
    border-top:5px solid #FC375E;
    background:url(../images/header-top-bg.gif) repeat-x;
}

.logo{
    float:left;
    width: 200px;
    padding: 10px 0 10px 10px;
    margin: 0;
}
.logo img {
    max-width: 200px;
}

nav {
    float:right;
    background:url(../images/menu-bg.png);
    margin-left:2px;
    font-family: 'Duru Sans', Helvetica, Arial, sans-serif;
    min-width: 50%;
    overflow: hidden;
}
nav h4 {
    display: none;
}
nav ul,
.sub-nav ul,
.side-nav {
    margin: 0;
    padding: 0;
}
.sub-nav li,
.side-nav li {
    list-style: none;
}
nav li{
    display:inline-block;
    float:left; 
}
nav li a {
    display: block;
    font-size:13px;
    color:#818080;
    font-weight:bold;
    padding:60px 42px ;
    border-right:1px solid #FFF;
    font-family: 'Coda', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}
nav li:nth-child(6) a{
    border:none;
}
nav li a:hover,
nav li.current a {
    color:#FFF;
    text-decoration: none;
    background:url(../images/menu-bg-hover.png);
}

/* sub navigation */
.sub-nav {
    background-color: #555;
}
.sub-nav li {
    position: relative;
    float: left;
    padding: 10px 15px;
}
.sub-nav a {
    color: #fff;
}
.sub-nav a:hover,
.side-nav a:hover {
    text-decoration: none;
}
.sub-nav a:before,
.side-nav a:before {
    display: none;
    position: absolute;
    content: '';
}
.sub-nav a:before {
    background: #fff;
    bottom: 0;
    left: 14px;
    right: 14px;
    height: 4px;
}

/* third level navigation */
.side-nav {
    margin-top: 20px;
}
.side-nav li {
    position: relative;
}
.side-nav a {
    display: block;
    padding: 5px 0 5px 20px;
    color: #4B4B4B;
}
.side-nav a:before {
    background: #4B4B4B;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    height: 100%;
}
.sub-nav a:hover:before,
.sub-nav li.current a:before,
.side-nav a:hover:before,
.side-nav li.current a:before {
    display: block;
}

.site-main {
    display: block;
}
.site-main p {
    font-size: 14px;
    color: #6F6F6F;
    line-height: 1.6em;
    padding:10px 0;
}

/* hero */
.hero-holder {
    border-bottom:2px ridge #FC375E;
    padding: 1px 0;
    background:url(../images/menu-bg.png);
}
.hero {
    position: relative;
    overflow: hidden;
}
.hero__main {
    position: absolute;
    z-index: 210;
    width: 100%;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: .75em;
}
.hero__main h2,
.hero__main p,
.hero__main a {
    color: #fff;
}
.hero__main .btn {
    font-size: 25px;
    padding: 0;
}
@media screen and (min-width: 34.375em) {
    .hero__main {
        font-size: 1em;
    }
}
@media screen and (min-width: 64em) {
    .hero__main {
        font-size: 1.25em;
    }
}

/* content */
.content {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* media block */
.media {
    border-bottom: 1px dotted #D6D5D5;
    padding: 0 0 15px 0;
    margin-right: 15px;
}
.media:first-child {
    margin-top: 15px;
}
.media p {
    margin-left: 5%;
}
.media__link {
    font-size:13px;
    color:#FC375E;
    cursor:pointer;
    text-transform: uppercase;
}

/* box items (homepage) */
.box p {
    font-size: 12px;
    color: #6F6F6F;
    line-height: 1.8em;
    padding: 10px 0;
}
.box__heading{
    padding-bottom:25px;
    border-bottom:1px solid #CCC;
}
.box__heading h2{
    padding:0;
    margin-bottom:-5px;
}
.box__heading span{
    font-size:12px;
    font-style:italic;
    color:#888;
}
.box__link{
    padding-top:10px;
}
.box__link a{
    padding:6px 10px;
    font-size:12px;
    color:#FFF;
        border            : 1px solid #FFF;
        background        : #e33d3d;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UzM2QzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYzAxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e33d3d 0%, #bc0100 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e33d3d), color-stop(100%,#bc0100));
        background        : -webkit-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        background        : -o-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        background        : -ms-linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        background        : linear-gradient(top,  #e33d3d 0%,#bc0100 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e33d3d', endColorstr='#bc0100',GradientType=0 );
        box-shadow        : 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                            0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);  
        -moz-box-shadow   : 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                            0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);
        -webkit-box-shadow: 0 1px 0 0 #e86767 inset, 1px 0 0 0 #da5251 inset, -1px 0 0 0 #da5251 inset,
                            0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4);
        color             : #fff;
        text-shadow       : 0 -1px 0 rgba(0, 0, 0, 0.30);
        -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
        
}
.box__link a:hover{
        border            : 1px solid #781413;
        background        : #c82120;
        filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#c82120', endColorstr='#c82120');
        box-shadow        : 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                            0 0 0 1px #d45251 inset;
        -moz-box-shadow   : 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                            0 0 0 1px #d45251 inset;
        -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.4), 1px 0 1px -1px rgba(0,0,0,0.4), -1px 0 1px -1px rgba(0,0,0,0.4),
                            0 0 0 1px #d45251 inset;    
}

/** sections **/
.section h3 {
    padding: 20px;
    background:url(../images/menu-bg.png);
    text-transform: uppercase;
    color: #4b4b4b;
    border-bottom: none;
    overflow: hidden;
}
.section .col-md-12 {
    margin-top: 15px;
}
.section .col-md-12:first-child {
    margin-top: 0;
}
.section__box {
    background:#FFF;
    box-shadow: 0px 0px 7px #808080;
    -moz-box-shadow: 0px 0px 7px #808080;
    -webkit-box-shadow: 0px 0px 7px #808080;
    -o-box-shadow: 0px 0px 7px #808080;
    padding:15px;
}
.section__box h3 {
    padding: 10px 0;
    margin-bottom: 0;
    background: none;
}
.section__box p {
    color: #999;
    padding: 0;
    font-size: 12px;
    line-height: 1.6em;
    margin-bottom: 0;
}
.section__box img {
    border: 1px solid #F1F1F1;
    display:block;
}

/** footer **/
footer {
    background:url(../images/footer-bg.png);
    margin-top:20px;
    padding-top: 30px;
}
footer .row {
    padding:10px 0;
}
footer ul {
    padding: 0;
}
footer li,
footer a {
    font-size: 13px;
    color:#4B4B4B;
}
.footer__menu li{
    display:block;
    margin:8px 0;
}
.footer__menu a:hover{
    color:#696969;
}
.footer__address li {
    list-style: none;
    margin: 8px 0;
}
.footer__social {
    margin-bottom: 22px;
    margin-top: 25px;
}
.footer__social li {
    list-style: none;
    margin-bottom:20px;
}
.footer__social .facebook .icon {
    background: url(../images/social-icons.png) no-repeat 0 0;
}
.footer__social .facebook:hover .icon {
    background-position:0 -56px;
}
.footer__social .twitter .icon {
    background:url(../images/social-icons.png) no-repeat -55px 0;
}
.footer__social .twitter:hover .icon{
    background-position:-55px -56px;
}
.footer__social .icon {
    display: inline-block;
    margin-right:8px;
    width: 55px;
    height: 56px;
    vertical-align: top;
}
.footer__social .inner {
    display: inline-block;
    padding-top: 10px;
    line-height: 18px;
    color:#4B4B4B;
    font-size:13px;
}
.footer__social .inner:hover {
    color:#696969;
}
.footer__social .inner strong{
    font-size:15px; 
}
.footer__copy {
    border-top: 2px ridge #313131;
    text-align:center;
    padding:15px 0;
}
.footer__copy p,
.footer__copy a {
    font-size:12px;
    color:#696969;
}
.footer__copy a {
    text-decoration:underline;
}
.footer__copy a:hover {
    color:#7E7E7E;
    text-decoration:none;
}


/**** 1024 - 800 Responsive Layout *****/
@media all and (max-width: 1024px) and (min-width: 800px) {
    .container {
        width: 760px; /* required */
        padding: 0 20px;
    }
    .logo {
        width: 25%;
        padding: 3.5% 10px;
    }
    nav {
        margin-left: 0;
    }
    nav li a {
        padding:59px 17px;
    }
    .content {
        padding:20px 0;
    }
}

@media all and (max-width:800px) and (min-width:640px){
    .container {
        width:600px; /* required */
        padding: 0 20px;
    }
    .logo {
        width: 25%;
        padding: 5% 10px;
    }
    nav {
        margin-left: 0;
    }
    nav li a {
        padding:53px 9px;
        font-size:12px;
    }
    .content {
        padding:20px 0;
    }

    h2 {
        font-size:20px;
    }
}
@media all and (max-width:640px) and (min-width:480px){
    .container {
        width: auto;
        padding:0 15px;
    }
    .logo, nav {
        width:100%;
        float:inherit;
    }
    .logo{
        text-align:center;
        padding:0;
    }
    nav {
        margin-left: 0;
    }
    nav li a {
        padding:53px 13px;
        font-size:13px;
        font-weight:normal;
    }
    .content {
        padding:10px 0;
    }

    h2 {
        font-size:20px;
    }

    footer h3 {
        padding:5px 0 5px 0;
     }
    .footer__menu li {
        display: inline;
        margin:0 15px;
    }
    .footer__social li {
        display:inline;
        margin-left:20px;
    }
}
@media all and (max-width:480px) {
    .container {
        width: auto;
        padding:0 15px;
    }
    .logo, nav {
        width:100%;
        float:inherit;
    }
    .logo{
        text-align:center;
        padding:0;
    }
    nav li a {
        padding:40px 4px; /* padding:53px 11px; */
        font-size:13px;
        font-weight:normal;
    }
    .media-left,.media-body {
        float:inherit;
        width:100%;
        margin:0;
    }
    .content {
        padding: 10px 15px;
    }
    h2 {
        font-size:20px;
    }
    .box__heading {
        padding-bottom:10px;
    }
    .box__link {
        padding-top:0;
    }
    footer h3 {
        padding:5px 0 5px 0;
     }
    .footer__menu li {
        display: inline;
        margin:0 1px;
    }
    .footer__social {
        margin-top:15px;
    }
    .footer__social li {
        display:inline;
        margin-left:15px;
    }
    .footer__social li:first-child{
        margin-left:0;
    }
}