body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
header {
    padding: 1rem 1rem 1.1rem 1rem;
    color: #fff;
    background-color: #008CBA;
}
h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 400;
}
h4 {
    font-size: 0.9rem;
}
a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}
a.feed-stop-number {
    border-bottom: none;
}
table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    border-bottom: 1px solid #eceeef;
}
table td,
table th {
    padding: .6rem;
    vertical-align: top;
    border-top: 1px solid #eceeef;
    font-size: 0.9rem;
}
table th {
    display: none;
    text-align: left;
}

.stop-holder {
    border: 1px solid #eee;
    background-color: #f9f9f9;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    max-width: 470px;
}
.feed-stop-number {
    display: block;
    float: left;
    width: 5rem;
    font-size: 1rem;
    margin: 0 1rem 1rem 0;
}
    .feed-stop-number span {
        display: block;
    }
    .feed-stop-number .feed-title {
        margin: 0;
        background: #eee;
        padding: 0.5rem 0;
        text-align: center;
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    .feed-stop-number .feed-sms {
        margin: 0;
        border: 1px solid #eee;
        padding: 0.5rem 0;
        text-align: center;
        background-color: #fff;
    }
.feed-heading {
    margin: 0.2rem 0;
}
.feed-modified {
    margin: 0;
}
.feed-items {
    clear: both;
    background-color: #fff;
    padding: 0;
}
    .feed-items li {
        list-style: none;
    }
.service-status {
    text-transform: capitalize;
    margin-left: 0.5rem;
}

.no-items {
    padding: 0.5rem;
    margin: 0 0.5rem;
}
