<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Skeleton</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="../site.webmanifest">
        <link rel="apple-touch-icon" href="../icon.png">
        <!-- Place favicon.ico in the root directory or link to it <link rel="icon" type="image/png" href="images/favicon.png"> -->

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/skeleton.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/typography.css">
        <link rel="stylesheet" href="../css/utilities.css">

        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <a class="visuallyhidden focusable" href="#main-content">Skip to main content</a>

        <header class="site-header" role="banner">
            <div class="light-grey">
                <div class="container">
                    <div class="logo u-pull-left" id="basic-logo">
                        <em class="logo-text">
                            <a href="../index.html" title="Home" aria-label="Home">Skeleton</a>
                        </em>
                    </div>
                </div>
            </div>
            <nav role="navigation" class="nav container">
                <ul class="nav-primary">
                    <li>
                        <a href="../test-page.html">Test page</a>
                    </li>
                    <li>
                        <a class="current" href="index.html">Components</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <div class="row">
                <aside class="two columns">
                    <ul class="sidenav-list">
                        <li>
                            <a href="typography.html">Typography</a>
                        </li>

                    </ul>
                </aside>
                <main class="ten columns" id="main-content">
                    <h1>Components</h1>
                    <p class="summary">These components are all in one place for simplicity, consistancy and usability/accessiblity over my websites</p>
                    <p>They are borrowed from:</p>
                    <ul>
                        <li><a href="https://designsystem.digital.gov/components/">https://designsystem.digital.gov/components/</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="../js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
