#content.form-content {
	width: 100%;
}

#content.form-content .field {
	width: 500px;
}

/* radio */
#content.form-content .long-radio .radios-item { /* three or more items - easier to read down */
	display: block;
    position: relative;
    min-height: 40px;
    padding: 0 0 0 25px;
    clear: left;
}
#content.form-content .long-radio .radios-item input {
	position: absolute;
	top: 14px;
	left: 0;
}
#content.form-content .long-radio .radios-item label {
	display: inline-block;
}



/* clear both */
#content.form-content .field.clearboth {
	clear: both;
	width: 100%;
}

#content.form-content .field.clearboth .input {
	display: block;
	width: 500px;
}
